<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>The Board</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div id="app-container">
      <div class="throne-page">
        <h1 id="message"></h1>

        <p>Text <code><span id="sms-code">      </span></code><br/>to <code>437-800-2675</code></p>
        <span class="page-link" id="qr-code">or scan this</span>
      </div>
    </div>
    <script src="{{ url_for('static', filename='qrcode.js') }}"></script>
    <script src="{{ url_for('static', filename='reconnecting-websocket.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
