<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>The Board</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <h1 id="message">hello this is a message</h1>

    <div>text <code><span id="sms-code">the-code</span></code> to NUMBER blah blah</div>
    <div>scan this: <code><span id="qr-code">qr-code</span></code> you will like it</div>

    <script src="{{ url_for('static', filename='qrcode.js') }}"></script>
    <script src="{{ url_for('static', filename='reconnecting-websocket.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
